.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    background: #fff;
    padding: 1% 0;
    &-block {
        .row-flex();
        align-items: center;
        justify-content: space-between;
        .nav {
            .col();
            .size(10);
            //.page__link {
                //.size(2);
                //.shift-left(2);
                //.col();
                //text-transform: uppercase;     
                      
                
            //}  
        }
        &-nav {
            .row-flex();
            &__logo {
                width: 14%;
                .col();
                .page__img{
                    //.size(2);
                }
            }
           
            //.padding_left-30{
                //padding-left: 55px;
            //}     
        }
        
    }
        
}