.heart {
    position: relative;
    
    &-block {
        .row-flex();
        position: relative;
        
        &-description {
            .size(6);
            .page__text-bold_mid, .page__text-medium {
                .size(12);
                align-items: center;
            }
            .page__text-bold_mid {
                margin-bottom: 2%;
            }
        }

        &-img {
            .size(7);
            .shift-left(-1);
            //overflow: auto;
            z-index: 10;
            position: relative;
            top: -330px;
            left: 30px;
            height: 700px;
            
            .page__img {

            }
        }
    }
}