.news {
    padding-top: 4%;
    padding-bottom: 8%;
    background-color: #f6f6f6;
    .page__title-h3 {
        text-transform: uppercase;
        margin-bottom: 5%;
        .xs-block({
            padding-top: 7%;
            padding-bottom: 4%;
            font-size: 170px;
            line-height: 160px;
        });
    }
    .mob {
        display: none;
        .xs-block({
            display: block;
        });
        &-slider-news {
            background: transparent;
            height: 50vh;
            position: relative;
            padding: 60px 60px 10px 60px;
            .slick-list {
                overflow: hidden;
            }
            .slick-track{
                display: flex;
                
            }
           
            .slick-arrow{
                display: none;
                
            }
            .slick-dots {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                padding-top: 10%;
            }

            .slick-dots li {
                list-style: none;
                
            }

            .slick-dots li button {
                height: 67px;
                width: 10px;
                font-size: 0;
                border-radius: 50%;
                border: transparent;
                margin: 0 40px;
                background-color: #000;               
            }

            .slick-dots li.slick-active button {
                background-color: @color_red;
                
                
            }
        }
    }
    &-block {
        .xs-block({
            display: none;
        });
        &-items {
            .row-flex();
           &-spb {
                position: relative;
               .col();
               .size(4);
               .page__img {
                   margin-bottom: 8%;
                   position: relative;
                   
                }
                .page__text-bold_middle {
                    &:hover {
                        color: @color_red;
                        text-decoration: underline;
                    }
                }
               .page__text-medium-small {
                    margin-bottom: 8%;
                    position: relative;
                    &:hover {
                        color: @color_red;
                        text-decoration: underline;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 20px;
                        
                        display: inline-block;
                        width: 50px;
                        left: 100px;
                        height: 1px;
                        background-color: @color_red;
                    }
                }
               
           }
           &-spo {
            
            .size(4);
            .col();
            .page__img {
                margin-bottom: 12%;
                position: relative;
                top: 20px;
            }

             .page__text-bold_middle {
                &:hover {
                    color: @color_red;
                    text-decoration: underline;
                }
            }
            .page__text-medium-small {
                 margin-bottom: 8%;
                 position: relative;
                 &:hover {
                    color: @color_red;
                    text-decoration: underline;
                }
                 &::after {
                     content: '';
                     position: absolute;
                     top: 20px;
                     display: inline-block;
                     width: 50px;
                     left: 100px;
                     height: 1px;
                     background-color: @color_red;
                     &:hover {
                        background-color: @color_black;
                    }
                }
             }
           }

           &-conews {
            .size(4);
            .col();
            .page__img {
                margin-bottom: 12%;
                position: relative;
                top: 20px;
             }
             .page__text-bold_middle {
                &:hover {
                    color: @color_red;
                    text-decoration: underline;
                }
            }
            .page__text-medium-small {
                 margin-bottom: 8%;
                 position: relative;
                 //line-height: 30px;
                 &:hover {
                    color: @color_red;
                    text-decoration: underline;
                }
                 &::after {
                     content: '';
                     position: absolute;
                     top: 20px;
                     
                     display: inline-block;
                     width: 50px;
                     left: 100px;
                     height: 1px;
                     background-color: @color_red;
                 }
             }
           }
        }
        .page__btn {
            .size(4);
            .shift-left(4);
            position: relative;
            top: 100px;
        }
    }

    .polygon {
        position: relative;
        top: -270px;
        left: 350px;
        width: 50px;
        height: 50px;
        margin-right: 15px;
        background-color: #b41f34;
        z-index: 100;
        &:hover {
            background: #000;
            
        }

        &__item {
            position: absolute;
            width: 90px;
            height: 90px;
            
            svg {
                position: relative;
                width: 30px;
                height: 30px;
                left: 10px;
                top: 9px;
                color: red;
                max-width: 100%;
                
            }
            
            svg path {
                stroke: white;
                //transition: all .5s ease;
                
                
            }

            svg:hover path {
                stroke: white;
                transition: all .5s ease;
            }
        }

        clip-path: polygon(50% 0, 100% 23%, 100% 77%, 50% 100%, 0 77%, 0 24%);
    }
}