.platform {
    //display: flex;
    
    // .wrapper {
    //     border-left: 10px solid @color_red;
    //     border-right: 10px solid @color_red;
    // }
    
    .wrapper {
        position: relative;

    }
    .border_top {
        position: absolute;
        top: 0;
        height: 10px;
        background-color: @color_red;
        &.left {
            right: 94%;
            left: 6%;
        }
        &.right {
            left: 94%;
            right: 6%;
        }
    }
    .border_side {
        position: absolute;
        top: 1px;
        width: 10px;
        height: 0;
        background-color: @color_red;
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
    }
    .border_bottom {
        position: absolute;
        bottom: -1px;
        width: 0;
        height: 10px;
        background-color: @color_red;
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
    }
    .page__title-h3 {
        padding-bottom: 300px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2%;
        position: relative;
        top: -50px;
    }

    
    &-block {
        .page__text-bold_middle_top {
            color: @color_red;

            .col();
            .shift-left(1);
            .size(4);
            
            //.shift-left(1);
            position: relative;
            top: -300px;
            
        }
        &-description {
            
            .block__ul {
                margin: 0;
                padding: 0px 90px;
                
                position: relative;
                top: -250px;
                list-style: none; 
                display: flex;
                .size(12);
                .col();
                flex-wrap: wrap;
                
                
            }

            .block__li {
                .col();
                display: flex;
                align-items: center;
                margin: 0px 20px;
                .size(6);
                &:nth-child(1) {
                    position: absolute;
                    top: 25px;
                    left: 785px;
                }
                &:nth-child(3) {
                    position: absolute;
                    top: -100px;
                    left: 785px;
                }
                &:nth-child(2) {
                    position: absolute;
                    top: 150px;
                    //left: 200px;
                }
                
            }
            .block__li:not(:last-child) {
                margin-bottom: 30px; }
           &-center {
               display: flex;
               align-items: center;
            }
            
            .page__text-bold_middle {
                width: calc(100% - 100px);
           }
        }
    }
    .polygon {
        width: 90px;
        height: 90px;
        margin-right: 15px;
        background-color: #b41f34;
        z-index: 100;
        &:hover {
            background: transparent;
            
        }
        //position: relative;
        
        &__item {
            position: absolute;
            width: 90px;
            height: 90px;
            
            img {
                height: 54px;
                width: 54px;
                position: absolute;
                left: 15px;
                top: 14px;
                font-size: 0;
                
                border-radius: 50%;
                overflow: hidden; 
                z-index: 500;
            }

            svg path {
                stroke:inherit;
                stroke-width:inherit;
                fill:inherit;
                
            }


            svg:hover {
                color: #b41f34;
                stroke: red;
                //stroke: rgba(0, 0, 0, .5);
                fill: red;  
            }
        }

        clip-path: polygon(13% 19%, 50% 0, 90% 16%, 90% 78%, 56% 99%, 14% 80%);
    }
}