.products {
    padding-top: 3%;
    overflow: hidden;
    .page__title-h3 {
        text-transform: uppercase;
        margin-bottom: 3%;
        .xs-block({
            font-size: 170px;
            padding: 5% 0;
        });
    }
    //.size(12);

    .mob {
        display: none;
        .xs-block({
            display: block;
        });
        &-slider-news {
            background: transparent;
            height: 55vh;
            position: relative;
            padding: 60px 60px 10px 60px;
            .slick-list {
                overflow: hidden;
            }
            .slick-track{
                display: flex;
                
            }
           
            .slick-arrow{
                display: none;
                
            }
            .slick-dots {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                padding-top: 10%;
            }

            .slick-dots li {
                list-style: none;
                
            }

            .slick-dots li button {
                height: 67px;
                width: 10px;
                font-size: 0;
                border-radius: 50%;
                border: transparent;
                margin: 0 40px;
                background-color: #000;               
            }

            .slick-dots li.slick-active button {
                background-color: @color_red;
                
                
            }
        }
    }

    &-block {
        .xs-block({
            display: none;
        });
        margin-bottom: 3%;
        &-items {
            display: flex;
            flex-wrap: wrap;
            
          &-calculations {
            //.col();
            .size(4);
            height: 337px;
            width: 540px;
            position: relative;
            padding-bottom: 1%;
            background-color: #f6f6f6;
            
            .polygon {
                position: absolute;
                right: 30px;
                top: 45px;
                transition: all .2s ease;
            }

            .page__img {
                padding: 57px 0 36px 66px;
                position: relative;
                z-index: 2;
            }

            .page__bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: all .2s ease;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                    
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #f6f6f6;
                    transition: .2s ease;

                }

            }

            .page__text_extra-small {
                padding: 0 0 126px 65px ;
                text-transform: uppercase;
                position: relative;
                z-index: 2;
                &::after {
                    content: '';
                    position: absolute;
                    width: 130px;
                    height: 5px;
                    background-color: @color_red;
                    bottom: 70px;
                    left: 70px;
                    
                }
            }

            &:hover {

                box-shadow: 0px 3.06758px 65.953px rgba(159, 5, 5, 0.5);
                
                .page__bg {
                    &::after {
                        background: #710E0E;
                        opacity: .75;
                        
                    }
                }

                .polygon {
                    svg path {
                        stroke: red;
                        transition: all .2s ease;
                    }

                    background: #fff;
                }

                .page__text_extra-small {
                    color: #fff;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 130px;
                        height: 5px;
                        background-color: @color_white;
                        bottom: 70px;
                        left: 70px; 
                    }
                }
            }
        }  
        }
        .polygon {
            width: 60px;
            height: 60px;
            margin-right: 15px;
            background-color: #b41f34;
            transition: all .2s ease;
            
            //position: relative;
            
            &__item {
                position: absolute;
                width: 90px;
                height: 90px;
                
                svg {
                    position: relative;
                    width: 30px;
                    height: 30px;
                    left: 15px;
                    top: 13px;
                    color: red;
                    max-width: 100%;
                    transition: all .2s ease;
                }
                
                svg path {
                    stroke: white;
                    transition: all .2s ease;
                    //transition: all .5s ease;
                    
                    
                }
    
                
            }
    
            clip-path: polygon(13% 19%, 50% 0, 90% 16%, 90% 78%, 56% 99%, 14% 80%);
        }
    }

    .page__btn {
        .size(4);
        .shift-left(4);
        margin-bottom: 2%;
        .xs-block({
            display: none;
        });
    }

    .page__btn.mob {
        display: none;
        
        .xs-block({
            display: block;
            .size(13);
            .shift-left(-.5);
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 90px;
            padding: 100px 0;
            letter-spacing: 40px;
            
        });
    }
}