.transition {
    padding-top: 3%;
    background-image: url(../assets/img/connecting.png);
    background-repeat: no-repeat;
    background-position: bottom;
    .page__title-h3 {
        position: relative;
        margin-bottom: 5%;
        z-index: 40;
        line-height: 80px;
        .xs-block({
            font-size: 180px;
            display: none
        });
    }

    .mob {
        display: none;
        .xs-block({
            display: block;
        });

        .page__img {
            border: 5px solid @color_red;
        }

        .page__text-medium-middle {
            padding: 5% 8% 10% 8%;
            font-size: 70px;
            line-height: 110px;
            span {
                font-size: 70px;
                font-family: "@{Firs}-Bold";
                color: @color_black;
            }
        }
        

        .background-grey {
            background-color: #f6f6f6;
            margin: 20px;
        }
        .background-white {
            background-color: #fff;
            .page__text-medium {
                font-size: 65px;
                line-height: 110px;
                text-align: center;
                padding: 7% 5%;
                
            }
        }

        .page__btn {
            font-size: 70px;
            height: 7vh;
            letter-spacing: 35px;
            border-radius: 0%;
        }


        .page__title-h3 {
            padding: 12% 0;
            font-size: 180px;
            text-transform: uppercase;
            line-height: 160px;
        }

        .page__text-bold-thirty {
            font-size: 95px;
            text-align: center;
            margin-bottom: 10%;
        }

        .page__text-medium {
            font-size: 70px;
            line-height: 110px;
            text-align: center;
            .size(7);
            .shift-left(2);
            margin-bottom: 7%;
        }

        .form {
            .col();
            form {

                input {
                    .size(12);
                    height: 270px;
                    border: 20px solid @color_black;
                    
                    
                } 

                .place {
                    text-align: center;
                    font-family: "@{Firs}-Medium";
                    font-size: 80px;
                }

                
            }

            .background-red {
                .col();
                background-color: @color_red;
                margin: 5% 0;
                padding: 9% 0;
                text-align: center;
                
                a {
                    text-decoration: none;
                }
                .page__text-bold {
                    font-size: 70px;
                    
                    color: @color_white;
                    span {
                        font-family: "@{Firs}-Medium";
                        text-transform: none;
                        padding-left: 8%;
                    }
                }
                a {
                    cursor: pointer;
                }
            }

            .textarea {
                font-family: "@{Firs}-Medium";
                text-align: center;
                padding: 5% 0;
                height: 600px;
                border: 20px solid @color_black;
                margin-bottom: 150px;
                .size(12);
            }

        }

        .footer-mob {
            .size(12);
            .page__text-medium {
                .col();
                text-align: center;
                .size(12);
                padding: 8% 0;
            }

            .page__text-medium-small {
                font-size: 100px;
                padding: 0 0 12% 0;
                .shift-left(3.2);
                position: relative;
                span {
                    
                    color: @color_red;
                }

                &::after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    height: 5px;
                    width: 2300px;
                    left: -590px;
                    background-color: #d4d4d4;
                    bottom: 0;
                }
            }

            .row-mail{ 
                display: flex;
                span {
                    color: @color_red;
                }
            }

            .page__text-bold-thirty  {
                text-decoration: none;
                font-size: 100px;
                text-align: center;
                
                .shift-left(2.8);
                span {
                    color: @color_red;
                }
            }

            .row-soc {
                padding: 8% 0;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                a {
                    &:nth-child(2) {
                        position: relative;
                        top: 40px;
                    }
                }
                
                .page__img {
                    border: none;
                    
                }
            }
        }
    }
    &-block {
        
        .xs-block({
            display: none;
        });
        position: relative;
        z-index: 40;
        .row-flex();
       &-iso {
        .size(3);
        .col();
        border: 10px solid @color_red;
        height: 180px;
        .page__img {
            position: relative;
            top: 37px;
            padding-left: 10px;
            padding-right: 10px;

        }
       }

       &-record {
        .size(8.9);
        .col();
        .xs-block({
            display: none;
        });
        position: relative;
        z-index: 40;
        .background {
            position: relative;
            z-index: 40;
            background-color: #f6f6f6;
            .shift-left(-.4);
            .page__text-medium-middle {
                
                padding: 50px 70px 50px 50px;
                span {
                    font-family: "@{Firs}-Bold";
                    font-size: 20px;
                    color: @color_black;
                    
                }
            }
        }
        .record-row {
            .xs-block({
                display: none;
            });
            position: relative;
            z-index: 40;
            .size(12.65);
            .row-flex();
            .col();
            .shift-left(-.45);
            border: 2px solid #e1e1e1;
            border-radius: 10px;
            padding-top: 2%;
            padding-bottom: 2%;

            .page__text-medium {
                padding-left: 60px;
                position: relative;
                top: 20px;
            }
        }

        .page__btn {
            .size(5);
            .shift-left(.3);
            margin-right: 10px;
        }
       }
    }

    .connection-block {
        .xs-block({
            display: none;
        });
        position: relative;
        z-index: 40;
        padding-top: 4%;
        padding-bottom: 5%;
        .page__title-h3 {
            text-transform: uppercase;
            position: relative;
            z-index: 40;
        }

        .page__text-bold-thirty {
            .col();
            position: relative;
            z-index: 40;
        }

        .page__text-medium {
            .col();
            position: relative;
            z-index: 40;
            margin-bottom: 2%;
        }

        .page__btn {
            .size(4);
            .shift-left(.1);
            position: relative;
            z-index: 40;
        }
    }

    .footer {
        position: relative;
        z-index: 40;
        .xs-block({
            display: none;
        });
        &-block {
           &-row {
               .row-flex();
               position: relative;
                z-index: 40;
               .copy {
                    .row-flex();
                    position: relative;
                    z-index: 40;
                   .col();
                   .size(6);
                   .page__img {
                       margin-right: 10px;
                       position: relative;
                        z-index: 40;
                   }
                   .page__text-medium-small {
                       position: relative;
                       top: 4px;
                       position: relative;
                        z-index: 40;
                       &::after {
                           content: '';
                           position: absolute;
                           width: 500px;
                           left: -20px;
                           height: 1px;
                           background-color: #d4d4d4;
                           top: 45px;
                       }
                    }
               }

               .page__btn {

                   .size(2);
                   height: 55px;
                   background-color: @color_black;
                }

                .page__text-bold-thirty {
                    .shift-left(2);
                    position: relative;
                    z-index: 40;
                    span {
                        color: @color_red;
                    }
                }
           } 

           &-bottom {
               .row-flex();
               position: relative;
                z-index: 80;
                .soc {
                    position: relative;
                    z-index: 70;
                    .row-flex();
                    .shift-left(4.8);
                    position: relative;
                    top: 60px;
                    a {
                        margin-left: 20px;
                        margin-right: 20px;
                        
                    }
                    .youtube {
                        margin-left: 40px;
                        position: relative;
                        top: 5px;
                        position: relative;
                        z-index: 50;
                    }

                    .telegram {
                        margin-left: 20px;
                        position: relative;
                        top: 5px;
                        position: relative;
                        z-index: 50;
                    }
                    .page__img {
                        
                    }
                }
               .sites {
                   padding-top: 3%;
                   padding-bottom: .5%;
                   .row-flex();
                   .size(6);
                   

                .page__text-medium {
                    .col();
                    
                    span {
                        color: @color_red;
                    }
                }
               }
           }
        }
    }
    
}