section#advantages.advantages
    .wrapper
        h3.page__title-h3-white Преимущества <span> Для бизнеса </span>
        .advantages-block
            .advantages-block-item
                .page__img
                    img(src="assets/img/advantages-1.svg")
                .page__text_extra-mid  <span> Централизация </span> процессов 
                .page__text-medium Единый бэк-офис. Единый операционный день. Единый корреспондентский счет
            .advantages-block-item
                .page__img
                    img(src="assets/img/advantages-2.svg")
                .page__text_extra-mid <span> Time-to-Market
                .page__text-medium.left <span> Внедрение новых технологий и облегчение доступа к сервисам платежных систем. Совершенствование календаря платежей
            .advantages-block-item
                .page__img
                    img(src="assets/img/advantages-3.svg")
                .page__text_extra-mid <span> Гибкая настройка<span> и контроль
                .page__text-medium Внедрение новых технологий и облегчение доступа к сервисам платежных систем. Совершенствование календаря платежей
            .advantages-block-item
                .page__img
                    img(src="assets/img/advantages-4.svg")
                .page__text_extra-mid <span> Работа </span><br> 24х7 
                .page__text-medium Поддержка работы многофилиального банка в режиме 24х7