section.architect
    .wrapper
        h3.page__title-h3 <span>БИЗНЕС-АРХИТЕКТУРА</span> ПЛАТФОРМЫ
        .architect-block
            .architect-block-calc
                .architect-block-calc-estimation
                    p.page__text_extra Расчеты
                    .architect-block-calc-estimation-item_1
                        .architect-block-calc-estimation-item_1-bg
                            .page__img
                                img(src="assets/img/yacheyka-first.svg")
                            p.page__text-medium-small Платежный документ 
                            p.page__text-medium-small-grey (межбанковский и внутрибанковский)
                    .architect-block-calc-estimation-item_1
                        .architect-block-calc-estimation-item_1-bg
                            .page__img
                                img(src="assets/img/yacheyka-first.svg")
                            p.page__text-medium-small-two Обработка постановлений 
                            p.page__text-medium-small-grey ФССП и исполнительных документов
                .architect-block-calc-estimation-item_3
                    .architect-block-calc-estimation-item_3
                        .architect-block-calc-estimation-item_3-big
                            .architect-block-calc-estimation-item_3-big-bg
                                .page__img
                                    img(src="assets/img/yacheyka-first.svg")
                                p.page__text-medium-small Ведение очередей 
                                p.page__text-medium-small-grey распоряжений (картотек) документов
                    .architect-block-calc-estimation-item_3
                        .architect-block-calc-estimation-item_3-small
                            .architect-block-calc-estimation-item_3-small-bg
                                .page__img
                                    img(src="assets/img/yacheyka-first.svg")
                                p.page__text-medium-small Платежный документ 
                                p.page__text-medium-small-grey (межбанковский и внутрибанковский)
                .architect-block-calc-estimation-item_4
                    .architect-block-calc-estimation-item_4
                        .architect-block-calc-estimation-item_4-big
                            .architect-block-calc-estimation-item_4-big-bg
                                .page__img
                                    img(src="assets/img/yacheyka-first.svg")
                                p.page__text-medium-small Кассовый документ
                    .architect-block-calc-estimation-item_4
                        .architect-block-calc-estimation-item_4-small
                            .architect-block-calc-estimation-item_4-small-bg
                                .page__img
                                    img(src="assets/img/yacheyka-first.svg")
                                p.page__text-medium-small Поручение банка
            .architect-block-calc
                .architect-block-calc-estimcentr
                    p.page__text_extra Расчетный центр
                    .architect-block-calc-estimcentr-item_1
                        .architect-block-calc-estimcentr-item_1-bg
                            .page__img
                                img(src="assets/img/yacheyka-first.svg")
                            p.page__text-medium-small Обмен сообщениями
                            p.page__text-medium-small-grey банка России формата УФЕБС
                .architect-block-calc-estimcentr-item_3
                    .architect-block-calc-estimcentr-item_3
                        .architect-block-calc-estimcentr-item_3-big
                            .architect-block-calc-estimcentr-item_3-big-bg
                                .page__img
                                    img(src="assets/img/yacheyka-first.svg")
                                p.page__text-medium-small Картотека незавершенных
                                p.page__text-medium-small-grey расчетов
                    .architect-block-calc-estimcentr-item_3
                        .architect-block-calc-estimcentr-item_3-small
                            .architect-block-calc-estimcentr-item_3-small-bg
                                .page__img
                                    img(src="assets/img/yacheyka-first.svg")
                                p.page__text-medium-small Картотека невыясненных 
                                p.page__text-medium-small-grey сумм
                .architect-block-calc-estimcentr-item_4
                    .architect-block-calc-estimcentr-item_4
                        .architect-block-calc-estimcentr-item_4-big
                            .architect-block-calc-estimcentr-item_4-big-bg
                                .page__img
                                    img(src="assets/img/yacheyka-first.svg")
                                p.page__text-medium-small Обмен сообщениями с 
                                p.page__text-medium-small-grey платежной системой SWIFT
                    .architect-block-calc-estimcentr-item_4
                        .architect-block-calc-estimcentr-item_4-small
                            .architect-block-calc-estimcentr-item_4-small-bg
                                .page__img
                                    img(src="assets/img/yacheyka-first.svg")
                                p.page__text-medium-small Обработка сообщений
                                p.page__text-medium-small-grey-bank формата «Банк-Партнер»
                .architect-block-calc-estimcentr-item_4
                    .architect-block-calc-estimcentr-item_4
                        .architect-block-calc-estimcentr-item_4-big
                            .architect-block-calc-estimcentr-item_4-big-bg
                                .page__img
                                    img(src="assets/img/yacheyka-first.svg")
                                p.page__text-medium-small Защита электронных 
                                p.page__text-medium-small-grey сообщений Банка России
                    .architect-block-calc-estimcentr-item_4
                        .architect-block-calc-estimcentr-item_4-small
                            .architect-block-calc-estimcentr-item_4-small-bg
                                .page__img
                                    img(src="assets/img/yacheyka-first.svg")
                                p.page__text-medium-small Защита сообщений 
                                p.page__text-medium-small-grey swift
        .information-row
            p.page__text-bold__middle Есть вопросы? Можете пообщаться с архитектором платформы
            .page__btn отправить сообщение
            
            
                    
                    
                        


