section.banner
    .wrapper
        .banner-block
            .banner-block-img
                .page__img
                    video(type="video/mp4", muted, loop, autoplay)
                        source(src="assets/video/video.mp4")
            .banner-block-img-background
                .page__img
                    img(src="assets/img/bg-banner.png")
            .banner-block-description
                p.page__title-h1 pay<span>ments
                p.page__text_Italic Банковская система – кровеносная система организма, а капиталы – кровь, питающая различные его части
                p.page__text_small-bold Д. М. Кейнc
                p.page__text_small \ английский экономист