section#banner.banner
    .wrapper
        .banner-block
            .mob
                .page__img
                    img(src="assets/img/banner-mob-bg-top.svg")
                .page__img-mid
                    img(src="assets/img/banner-mob-bg-bottom.svg")
                .page__img-bottom
                    img(src="assets/img/banner-bottom.svg")
                p.page__text-bold_middle ПЛАТФОРМА РАЗВИТИЯ БИЗНЕСА<br> DIGITAL Q
                p.page__title-h1 pay<span>ments
                
            .banner-block-img
                .page__img
                    video(type="video/mp4", muted, loop, autoplay)
                        source(src="assets/video/video.mp4")
            .banner-block-img-background
                .page__img
                    img(src="assets/img/bg-banner.png")
            .banner-block-description
                p.page__title-h1(data-aos="fade-right" data-aos-duration="500" data-aos-delay="600") pay<span>ments
                p.page__text_Italic(data-aos="fade-right" data-aos-duration="500" data-aos-delay="1000") Банковская система – кровеносная система организма, а капиталы – кровь, питающая различные его части
                p.page__text_small-bold(data-aos="fade-up" data-aos-duration="500" data-aos-delay="1200") Д. М. Кейнc
                p.page__text_small(data-aos="fade-up" data-aos-duration="500" data-aos-delay="1400") \ английский экономист
            