section.banner
    .wrapper
        .banner-block
            .banner-block-img
                .page__img
                    img(src="assets/img/banner.png")
            .banner-block-description
                p.page__title-h1 pay<span>ments
                p.page__text_Italic Банковская система – кровеносная система организма, а капиталы – кровь, питающая различные его части
                p.page__text_small-bold Д. М. Кейнc   
                p.page__text_small \    английский экономист