section.clients
    .wrapper
        .clients-block
            h3.page__title-h3 <span>Клиенты
            .page__img
                    img(src="assets/img/клиенты.png")
            p.page__text-medium-small <span>*</span> Клиенты СБП
            .page__btn список клиентов