section#clients.clients
    .wrapper
        .clients-block
            h3.page__title-h3 <span>Клиенты
    .tag_cloud
    .wrapper
        .clients-block
            p.page__text-medium-small <span>*</span> Клиенты СБП
            .page__btn список клиентов
            