section#clients.clients
    .mob
        h3.page__title-h3 <span>Клиенты
        .tag_cloud
    .wrapper
        .clients-block
            h3.page__title-h3 <span>Клиенты
    .tag_cloud
    .wrapper
        .clients-block
            p.page__text-medium-small <span>*</span> Клиенты СБП
            .page__btn.open-modal(data-modal="modal" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800") список клиентов
            