header.header
    .wrapper
        .mob
            .mob-logo
                a(href="/")
                    .page__img
                        img(src="assets/img/logo.svg")
        .header-block
                .header-block-nav__logo
                    a(href="https://www.diasoft.ru/")
                        .page__img
                            img(src="assets/img/logo.svg")
                .nav         
                    a(href="https://www.reddit.com/r/Drumkits/").nav__link ПЛАТФОРМА
                    a(href="#architect").nav__link_more.padding_left-30 Бизнес
                    a(href="#architect").nav__link_architect -архитектура
                    a(href="#products").nav__link Продукты
                    a(href="#safety").nav__link Безопасность
                    a(href="#advantages").nav__link Преимущества
                    a(href="#numbers").nav__link цифры
                    a(href="#clients").nav__link клиенты
                    a(href="#news").nav__link новости