header.header
    .wrapper
        .header-block
                .header-block-nav__logo
                    a(href="/")
                        .page__img
                            img(src="assets/img/img-logo.png")
                .nav         
                    a(href="#").nav__link ПЛАТФОРМА
                    a(href="#").nav__link_more.padding_left-30 Бизнес
                    a(href="#").nav__link_architect -архитектура
                    a(href="#").nav__link Продукты
                    a(href="#").nav__link Безопасность
                    a(href="#").nav__link Преимущества
                    a(href="#").nav__link цифры
                    a(href="#").nav__link клиенты
                    a(href="#").nav__link новости