section.heart
    .wrapper
        .heart-block
            .heart-block-description
                p.page__text-bold ПЛАТФОРМА РАЗВИТИЯ БИЗНЕСА DIGITAL Q
                h2.page__title-h2 PAYMENTS
                p.page__text-bold_mid Выполнение расчетов в национальной и иностранной валюте через платежные и расчетные системы.
                p.page__text-medium Платформа применима для всех банков и некредитных финансовых организаций.           
                .heart-block-description-bg
            .heart-block-img 
                .page__img
                    img(src="assets/img/heart.svg")