section#heart.heart
    .wrapper
        .heart-block
            .heart-block-description
                p.page__text-bold(data-aos="fade-down" data-aos-duration="500" data-aos-delay="400") ПЛАТФОРМА РАЗВИТИЯ БИЗНЕСА DIGITAL Q
                h2.page__title-h2(data-aos="fade-right" data-aos-duration="500" data-aos-delay="800") PAYMENTS
                p.page__text-bold_mid(data-aos="fade-right" data-aos-duration="500" data-aos-delay="1200") Выполнение расчетов в национальной и иностранной валюте через платежные и расчетные системы.
                p.page__text-medium(data-aos="fade-right" data-aos-duration="500" data-aos-delay="1400") Платформа применима для всех банков и некредитных финансовых организаций.           
                .heart-block-description-bg
            .heart-block-img 
                .page__img
                    img(src="assets/img/heart.svg")