.modal#modal(data-modal="modal")
    .modal__in.modal-container
        .modal__title modal
        .modal__body test
.modal#platform(data-modal="platform")
    .modal__in.modal-container
        ul
            li Высокая производительность и масштабируемость решений в составе платформы для обслуживания большого числа одновременно работающих пользователей
            li Гибкое масштабирование решений при росте бизнеса и открытии новых точек обслуживания клиентов
