.modal#modal(data-modal="modal")
    .modal__in.modal-container
        .modal__title modal
        .modal__body test
.modal#demo(data-modal="demo")
    .modal__in.modal-container
        .modal__title modal
        .modal__body test
.modal#numbers(data-modal="numbers")
    .modal__in.modal-container
        .modal__title modal
        .modal__body test
.modal#clients(data-modal="clients")
    .modal__in.modal-container
        .modal__title modal
        .modal__body test
.modal#news(data-modal="news")
    .modal__in.modal-container
        .modal__title modal
        .modal__body test
