section#news.news
    .wrapper
        h3.page__title-h3 <span>Новости</span> о платформе
        .mob
            .mob-slider-news
                .page__img
                    img(src="assets/img/news-slider.svg")
                .page__img
                    img(src="assets/img/news-slider.svg")
                .page__img
                    img(src="assets/img/news-slider.svg")
        .news-block
            .news-block-items
                .news-block-items-spb
                    .page__img
                        img(src="assets/img/spb-logo.svg")
                    p.page__text-medium-small 10.09.2020
                    p.page__text-bold_middle «Диасофт» – в числе официальных сертифицированных поставщиков решений для Системы быстрых платежей
                .news-block-items-spo
                    .page__img
                        img(src="assets/img/nfa.svg")
                    p.page__text-medium-small 02.09.2020
                    p.page__text-bold_middle Сергей Добриднюк о комплексном подходе к решению задачи автоматизации работы с СБП
                .news-block-items-conews
                    .page__img
                        img(src="assets/img/c-news.svg")
                    p.page__text-medium-small 02.09.2020
                    p.page__text-bold_middle «Универсальные» микросервисы: почему «Интерпромбанк» выбрал необычный способ подключения к СБП
            .page__btn.open-modal(data-modal="modal") еще новости