section#news.news
    .wrapper
        h3.page__title-h3 <span>Новости</span> о платформе
        .mob
            .mob-slider-news
                .page__img
                    img(src="assets/img/news-slider.svg")
                .page__img
                    img(src="assets/img/news-slider.svg")
                .page__img
                    img(src="assets/img/news-slider.svg")
        .news-block
            .news-block-items
                .news-block-items-spb
                    .page__img
                        img(src="assets/img/spb-logo.svg")
                    p.page__text-medium-small 10.09.2020
                    p.page__text-bold_middle «Диасофт» – в числе официальных сертифицированных поставщиков решений для Системы быстрых платежей
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                .news-block-items-spo
                    .page__img
                        img(src="assets/img/nfa.svg")
                    p.page__text-medium-small 02.09.2020
                    p.page__text-bold_middle Сергей Добриднюк о комплексном подходе к решению задачи автоматизации работы<br> с СБП
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                .news-block-items-conews
                    .page__img
                        img(src="assets/img/c-news.svg")
                    p.page__text-medium-small 02.09.2020
                    p.page__text-bold_middle «Универсальные» микросервисы: почему «Интерпромбанк» выбрал необычный способ подключения к СБП
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
            .page__btn.open-modal(data-modal="modal") еще новости