section.numbers.checkViewport
    .wrapper
        .numbers-block
            h3.page__title-h3-numbers <span> ЦИФРЫ </span>
            .numbers-block-items
                .numbers-block-items-platform
                    p.page__text_extra-md разработка платформы
                    p.page__text-medium-small Развиваем платформу
                    .row-top
                        .page__title-h4(style="--targetNum: 25")
                        .page__text_extra-middle лет
                    p.page__text-medium-small Команда разработки
                    .row-bottom
                        .page__title-h4(style="--targetNum: 127")
                        .page__text_extra-middle человек
                .numbers-block-items-productivity
                    p.page__text_extra-md производительность
                    p.page__text-medium-small Обработка
                        .page__title-h4(style="--targetNum: 200000")
                        .page__text_extra-middle документов/час
                    p.page__text-medium-small Работа одновременно
                        .page__title-h4(style="--targetNum: 10000")
                        .page__text_extra-middle пользователей
                .numbers-block-items-spb
                    p.page__text_extra-md производительность операций СБП
                        .page__title-h4(style="--targetNum: 100")
                        .page__text_extra-middle мс/операция
                        .page__title-h4(style="--targetNum: 50000")
                        .page__text_extra-middle переводов/час
                        .page__title-h4(style="--targetNum: 70")
                        .page__text_extra-middle транзакций/с
            .page__btn ПОЛУЧИТЬ ПРЕЗЕНТАЦИЮ