section.platform
    .wrapper
        .border_top.left
        .border_top.right
        .border_side.left
        .border_side.right
        .border_bottom.left
        .border_bottom.right
        h3.page__title-h3 для чего нужна <span>платформа
        .platform-block
            p.page__text Быстрые расчеты и платежи
            .platform-block-description
                ul.block__ul
                            li.block__li
                                .polygon
                                    .polygon__item
                                        img(src="assets/img/clock.svg")
                                p.page__text-bold_middle Простое подключение новых платформ и <br> расчетных систем
                            li.block__li
                                .polygon
                                    .polygon__item
                                        img(src="assets/img/forming.svg")
                                p.page__text-bold_middle Формирование и обработка операций по <br> денежным переводам
                            li.block__li
                                .polygon
                                    .polygon__item
                                        img(src="assets/img/format-inf.svg")
                                p.page__text-bold_middle Поддержка различных форматов обмена <br> информацией
                            li.block__li
                                .polygon
                                    .polygon__item
                                        img(src="assets/img/marshrut.svg")
                                p.page__text-bold_middle Эффективная маршрутизация платежных <br> документов