section#platform.platform
    .wrapper
        .border_top.left
        .border_top.right
        .border_side.left
        .border_side.right
        .border_bottom.left
        .border_bottom.right
        h3.page__title-h3 для чего нужна <span>платформа
        .platform-block
            .mob
                ul.pay-mob
                    li.pay-mob
                        .polygon
                            .polygon__item
                                img(src="assets/img/hand.svg")
                        a.page__text-bold_middle_top Быстрые расчеты и платежи
                ul.pay-mob-second
                    li.pay-mob-second
                        .polygon
                            .polygon__item
                                img(src="assets/img/clock.svg")
                        p.page__text-bold_middle Простое подключение новых платформ и расчетных систем
                    li.pay-mob-second
                        .polygon
                            .polygon__item
                                img(src="assets/img/clock.svg")
                        p.page__text-bold_middle Формирование и обработка операций по денежным переводам
                    li.pay-mob-second
                        .polygon
                            .polygon__item
                                img(src="assets/img/clock.svg")
                        p.page__text-bold_middle Поддержка различных форматов обмена информацией
                    li.pay-mob-second
                        .polygon
                            .polygon__item
                                img(src="assets/img/clock.svg")
                        p.page__text-bold_middle Эффективная маршрутизация платежных документов
            ul.pay.pay-second
                li.pay__li
                    .polygon
                        .polygon__item
                            img(src="assets/img/hand.svg")
                    a.page__text-bold_middle_top Быстрые расчеты и платежи
                    .page__img
                        img(src="assets/img/line-red.svg")
                li.pay-second__li
                    .page__text-medium Высокая производительность и масштабируемость решений в составе платформы для обслуживания большого числа одновременно работающих пользователей
                    .page__text-medium Гибкое масштабирование решений при росте бизнеса и открытии новых точек обслуживания клиентов
            .platform-block-description
                ul.block__ul
                            li.block__li
                                .polygon
                                    .polygon__item
                                        img(src="assets/img/marshrut.svg")
                                p.page__text-bold_middle Эффективная маршрутизация платежных <br> документов
                            li.block__li
                                .polygon
                                    .polygon__item
                                        img(src="assets/img/forming.svg")
                                p.page__text-bold_middle Формирование и обработка операций по <br> денежным переводам
                            li.block__li
                                .polygon
                                    .polygon__item
                                        img(src="assets/img/format-inf.svg")
                                p.page__text-bold_middle Поддержка различных форматов обмена <br> информацией
                            li.block__li
                                .polygon
                                    .polygon
                                        .polygon__item
                                            img(src="assets/img/clock.svg")
                                p.page__text-bold_middle Поддержка различных форматов обмена <br> информацией