section#platform.platform
    .wrapper
        .border_top.left
        .border_top.right
        .border_side.left
        .border_side.right
        .border_bottom.left
        .border_bottom.right
        h3.page__title-h3 для чего нужна <span>платформа
        .platform-block
            .mob
                ul.pay-mob
                    li.pay-mob
                        .polygon
                            .polygon__item
                                <svg width="58" height="55" viewBox="0 0 58 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.7812 33.5312H19.9375L29.9062 37.1562H38.0625C39.5669 37.1562 40.7812 38.3706 40.7812 39.875C40.7812 41.3794 39.5669 42.5938 38.0625 42.5938H28.0938C26.5894 42.5938 25.375 43.8081 25.375 45.3125" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M39.875 41.687L54.375 37.1558C55.8794 37.1558 57.0938 38.3701 57.0938 39.8745C57.0938 40.7808 56.1875 41.687 56.1875 41.687L33.5312 53.4683H31.7188L16.3125 48.0308H12.6875" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M40.7812 31.7188C43.2838 31.7188 45.3125 29.69 45.3125 27.1875C45.3125 24.685 43.2838 22.6562 40.7812 22.6562C38.2787 22.6562 36.25 24.685 36.25 27.1875C36.25 29.69 38.2787 31.7188 40.7812 31.7188Z" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M26.2812 24.4688C28.7838 24.4688 30.8125 22.44 30.8125 19.9375C30.8125 17.435 28.7838 15.4062 26.2812 15.4062C23.7787 15.4062 21.75 17.435 21.75 19.9375C21.75 22.44 23.7787 24.4688 26.2812 24.4688Z" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M9.0625 46.2188H7.25" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M5.4375 46.2188H3.625" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M28.0938 7.25V0" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M24.4688 12.6875V5.4375" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M28.0938 9.0625V10.875" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M24.4688 1.8125V3.625" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M38.9688 14.5V7.25" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M42.5938 19.9375V12.6875" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M38.9688 16.3125V18.125" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M42.5938 9.0625V10.875" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M0 31.7188H10.875C11.3734 31.7188 11.7812 32.1266 11.7812 32.625V48.9375C11.7812 49.4359 11.3734 49.8438 10.875 49.8438H0" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                        a.page__text-bold_middle_top Быстрые расчеты и платежи
                ul.pay-mob-second
                    li.pay-mob-second
                        .polygon
                            .polygon__item
                               <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g filter="url(#filter0_d)">
                                            <path d="M52 25L47 20L33 34L25 26L20 31L33 44L52 25Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M35 57H37" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M35 7H37" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M10 32H12" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M60 32H62" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M36 63C53.1208 63 67 49.1208 67 32C67 14.8792 53.1208 1 36 1C18.8792 1 5 14.8792 5 32C5 49.1208 18.8792 63 36 63Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            </g>
                                            <defs>
                                            <filter id="filter0_d" x="0" y="0" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                                            <feOffset dy="4"/>
                                            <feGaussianBlur stdDeviation="2"/>
                                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                                            </filter>
                                            </defs>
                                            </svg>
                        p.page__text-bold_middle Простое подключение новых платформ и расчетных систем
                    li.pay-mob-second
                        .polygon
                            .polygon__item
                                <svg width="56" height="49" viewBox="0 0 56 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                    <path d="M32.5412 31.5875C29.8812 37.2225 24.15 41.125 17.5 41.125C8.32125 41.125 0.875 33.6787 0.875 24.5C0.875 15.3213 8.32125 7.875 17.5 7.875C24.1938 7.875 29.9687 11.83 32.6025 17.535" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
                                    <path d="M17.5 41.125C23.7822 41.125 28.875 33.6817 28.875 24.5C28.875 15.3183 23.7822 7.875 17.5 7.875C11.2178 7.875 6.125 15.3183 6.125 24.5C6.125 33.6817 11.2178 41.125 17.5 41.125Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
                                    <path d="M17.5 41.125C20.8827 41.125 23.625 33.6817 23.625 24.5C23.625 15.3183 20.8827 7.875 17.5 7.875C14.1173 7.875 11.375 15.3183 11.375 24.5C11.375 33.6817 14.1173 41.125 17.5 41.125Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
                                    <path d="M17.5 7.875V41.125" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
                                    <path d="M29.75 13.125H5.25" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
                                    <path d="M30.625 35H4.375" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
                                    <path d="M32.375 24.5H0.875" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
                                    <path d="M30.9224 9.70375C33.1886 8.53125 35.7699 7.875 38.4999 7.875C47.6786 7.875 55.1249 15.3213 55.1249 24.5C55.1249 33.6787 47.6786 41.125 38.4999 41.125C35.7961 41.125 33.2324 40.4775 30.9749 39.3313" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
                                    <path d="M42 21C42 19.0662 40.4338 17.5 38.5 17.5C36.5662 17.5 35 19.0662 35 21C35 22.9338 36.75 23.625 38.5 24.5C40.25 25.375 42 26.0662 42 28C42 29.9338 40.4338 31.5 38.5 31.5C36.5662 31.5 35 29.9338 35 28" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M38.5 17.5V14.875" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M38.5 31.5V34.125" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M44.625 24.5H46.375" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M44.625 21H46.375" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M44.625 28H46.375" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M0 0.875488H44.625" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M46.375 0.875H48.125" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M49.875 0.875H51.625" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M53.375 0.875H55.125" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M4.375 48.125H6.125" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M0.875 48.125H2.625" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M7.875 48.125H9.625" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M11.375 48.125H56" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0">
                                    <rect width="56" height="49" fill="white"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                        p.page__text-bold_middle Формирование и обработка операций по денежным переводам
                    li.pay-mob-second
                        .polygon
                            .polygon__item
                               <svg width="50" height="43" viewBox="0 0 50 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                        <path d="M23.0441 36.6829H4.63862L1.57104 33.6153V32.0815H19.9765L21.5103 33.6153H23.0441" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M23.0442 2.93994H8.4732C7.20015 2.93994 6.17252 3.96758 6.17252 5.24063V29.7813" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M27.6455 39.7503H46.051L49.1186 36.6827V35.1489H30.7131L29.1793 36.6827H27.6455" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M27.6455 6.00684H42.2165C43.4896 6.00684 44.5172 7.03448 44.5172 8.30752V32.8482" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M25.3447 26.7134V42.0513" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M25.3447 15.9766V22.1117" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M25.3447 0.638672V11.3752" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M25.3449 24.4127C22.377 24.4127 19.9766 22.0123 19.9766 19.0444" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M25.3448 13.6758C28.3127 13.6758 30.7131 16.0762 30.7131 19.044" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M25.3448 24.4126H31.4799" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M19.2097 13.6758H25.3449" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M28.4125 27.4799L31.4801 24.4123L28.4125 21.3447" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M22.2773 16.7436L19.2097 13.676L22.2773 10.6084" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M23.0441 29.0137H9.24002V6.00684H23.0441" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        <path d="M27.6455 9.0752H41.4496V32.082H27.6455" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0">
                                        <rect width="49.0813" height="41.4123" fill="white" transform="translate(0.804199 0.638672)"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                        p.page__text-bold_middle Поддержка различных форматов обмена информацией
                    li.pay-mob-second
                        .polygon
                            .polygon__item
                                 <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                        <path d="M12.4219 30.6406V0.828125H43.8906V27.3281" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M46.375 19.0469H52.1719V52.1719H0.828125V19.0469H6.625" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M52.1719 52.1719L26.5 32.2969L0.828125 52.1719" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M0.828125 19.0469L17.3906 35.6094" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M52.1719 19.0469L35.6094 35.6094" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M25.6719 47.2031H27.3281" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M28.9844 47.2031H30.6406" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M22.3594 47.2031H24.0156" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M9.10938 27.3281V4.14062H12.4219" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M28.1562 28.9844C32.7299 28.9844 36.4375 25.2767 36.4375 20.7031C36.4375 16.1295 32.7299 12.4219 28.1562 12.4219C23.5826 12.4219 19.875 16.1295 19.875 20.7031C19.875 25.2767 23.5826 28.9844 28.1562 28.9844Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M14.9062 4.14062H16.5625" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M18.2188 4.14062H19.875" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M21.5312 4.14062H23.1875" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M14.9062 7.45312H41.4062" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M32.2969 18.2188L27.3281 23.1875L24.0156 19.875" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0">
                                        <rect width="53" height="53" fill="white"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                        p.page__text-bold_middle Эффективная маршрутизация платежных документов
            ul#someId.pay.pay-second
                li.pay__li(data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="500")
                    .polygon
                        .polygon__item
                            <svg width="58" height="55" viewBox="0 0 58 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.7812 33.5312H19.9375L29.9062 37.1562H38.0625C39.5669 37.1562 40.7812 38.3706 40.7812 39.875C40.7812 41.3794 39.5669 42.5938 38.0625 42.5938H28.0938C26.5894 42.5938 25.375 43.8081 25.375 45.3125" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M39.875 41.687L54.375 37.1558C55.8794 37.1558 57.0938 38.3701 57.0938 39.8745C57.0938 40.7808 56.1875 41.687 56.1875 41.687L33.5312 53.4683H31.7188L16.3125 48.0308H12.6875" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M40.7812 31.7188C43.2838 31.7188 45.3125 29.69 45.3125 27.1875C45.3125 24.685 43.2838 22.6562 40.7812 22.6562C38.2787 22.6562 36.25 24.685 36.25 27.1875C36.25 29.69 38.2787 31.7188 40.7812 31.7188Z" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M26.2812 24.4688C28.7838 24.4688 30.8125 22.44 30.8125 19.9375C30.8125 17.435 28.7838 15.4062 26.2812 15.4062C23.7787 15.4062 21.75 17.435 21.75 19.9375C21.75 22.44 23.7787 24.4688 26.2812 24.4688Z" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M9.0625 46.2188H7.25" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M5.4375 46.2188H3.625" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M28.0938 7.25V0" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M24.4688 12.6875V5.4375" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M28.0938 9.0625V10.875" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M24.4688 1.8125V3.625" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M38.9688 14.5V7.25" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M42.5938 19.9375V12.6875" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M38.9688 16.3125V18.125" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M42.5938 9.0625V10.875" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M0 31.7188H10.875C11.3734 31.7188 11.7812 32.1266 11.7812 32.625V48.9375C11.7812 49.4359 11.3734 49.8438 10.875 49.8438H0" stroke="#B11832" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                    button(type="button" onclick="openBlock()").page__toggle
                        a#openBlockBtn.page__text-bold_middle_top(data-aos="fade-right" data-aos-duration="700" data-aos-delay="800") Быстрые расчеты и платежи
                    .page__img
                        img(src="assets/img/line-red.svg")
                    //- .page__button
                    //-     button(type="button" onclick="closeBlock()")
                    //-        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    //-         <path d="M1.19266 1.7945L18.5708 19.1726M1.22278 19.0847L18.6009 1.70654" stroke="black" stroke-width="2.04803"/>
                    //-         </svg> 
                li.pay-second__li
                    .page__text-medium Высокая производительность и масштабируемость решений в составе платформы для обслуживания большого числа одновременно работающих пользователей
                    .page__text-medium Гибкое масштабирование решений при росте бизнеса и открытии новых точек обслуживания клиентов
            .platform-block-description
                ul.block__ul
                            li#otherId.block__li.otherpay.pay__li(data-aos="fade-down-right" data-aos-duration="800" data-aos-delay="2000")
                                .polygon
                                    .polygon__item
                                        <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0)">
                                            <path d="M12.4219 30.6406V0.828125H43.8906V27.3281" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M46.375 19.0469H52.1719V52.1719H0.828125V19.0469H6.625" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M52.1719 52.1719L26.5 32.2969L0.828125 52.1719" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M0.828125 19.0469L17.3906 35.6094" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M52.1719 19.0469L35.6094 35.6094" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M25.6719 47.2031H27.3281" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M28.9844 47.2031H30.6406" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M22.3594 47.2031H24.0156" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M9.10938 27.3281V4.14062H12.4219" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M28.1562 28.9844C32.7299 28.9844 36.4375 25.2767 36.4375 20.7031C36.4375 16.1295 32.7299 12.4219 28.1562 12.4219C23.5826 12.4219 19.875 16.1295 19.875 20.7031C19.875 25.2767 23.5826 28.9844 28.1562 28.9844Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M14.9062 4.14062H16.5625" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M18.2188 4.14062H19.875" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M21.5312 4.14062H23.1875" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M14.9062 7.45312H41.4062" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M32.2969 18.2188L27.3281 23.1875L24.0156 19.875" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0">
                                            <rect width="53" height="53" fill="white"/>
                                            </clipPath>
                                            </defs>
                                            </svg>
                                button(type="button" onclick="openBlockOther()").page__toggle
                                    a#openBlockBtn.page__text-bold_middle_top(data-aos="fade-right" data-aos-duration="700" data-aos-delay="2200") Эффективная маршрутизация платежных документов
                                .otherpay__li
                                    .page__text-medium Настройка процесса обработки документа в зависимости от его параметров
                                    .page__text-medium Контроль реквизитов документа в зависимости от его типа
                                    .page__text-medium Возможность отслеживания этапов обработки документа
                                .page__img
                                    img(src="assets/img/line-red.svg")
                            li#otherForm.block__li.otherForm(data-aos="fade-down-right" data-aos-duration="900" data-aos-delay="1000")
                                .polygon
                                    .polygon__item
                                        <svg width="50" height="43" viewBox="0 0 50 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0)">
                                                    <path d="M23.0441 36.6829H4.63862L1.57104 33.6153V32.0815H19.9765L21.5103 33.6153H23.0441" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M23.0442 2.93994H8.4732C7.20015 2.93994 6.17252 3.96758 6.17252 5.24063V29.7813" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M27.6455 39.7503H46.051L49.1186 36.6827V35.1489H30.7131L29.1793 36.6827H27.6455" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M27.6455 6.00684H42.2165C43.4896 6.00684 44.5172 7.03448 44.5172 8.30752V32.8482" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M25.3447 26.7134V42.0513" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M25.3447 15.9766V22.1117" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M25.3447 0.638672V11.3752" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M25.3449 24.4127C22.377 24.4127 19.9766 22.0123 19.9766 19.0444" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M25.3448 13.6758C28.3127 13.6758 30.7131 16.0762 30.7131 19.044" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M25.3448 24.4126H31.4799" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M19.2097 13.6758H25.3449" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M28.4125 27.4799L31.4801 24.4123L28.4125 21.3447" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M22.2773 16.7436L19.2097 13.676L22.2773 10.6084" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M23.0441 29.0137H9.24002V6.00684H23.0441" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    <path d="M27.6455 9.0752H41.4496V32.082H27.6455" stroke="white" stroke-width="1.53379" stroke-miterlimit="10"/>
                                                    </g>
                                                    <defs>
                                                    <clipPath id="clip0">
                                                    <rect width="49.0813" height="41.4123" fill="white" transform="translate(0.804199 0.638672)"/>
                                                    </clipPath>
                                                    </defs>
                                                    </svg>    
                                button(type="button" onclick="openBlockForm()").page__toggle 
                                    a#openBlockBtn.page__text-bold_middle_top(data-aos="fade-right" data-aos-duration="700" data-aos-delay="1200") Формирование и обработка операций по денежным переводам
                                .page__img
                                    img(src="assets/img/line-red.svg")
                                .otherForm__li
                                    .page__text-medium Настройка процесса обработки документа в зависимости от его параметров
                                    .page__text-medium Контроль реквизитов документа в зависимости от его типа
                                    .page__text-medium Возможность отслеживания этапов обработки документа
                            li#inform.block__li.inform(data-aos="fade-down-right" data-aos-duration="900" data-aos-delay="1400")
                                .polygon
                                    .polygon__item
                                        <svg width="64" height="54" viewBox="0 0 64 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M29 47H5L1 43V41H25L27 43H29" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M29 3H10C8.34 3 7 4.34 7 6V38" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M35 51H59L63 47V45H39L37 47H35" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M35 7H54C55.66 7 57 8.34 57 10V42" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M32 34V54" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M32 20V28" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M32 0V14" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M32 31C28.13 31 25 27.87 25 24" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M32 17C35.87 17 39 20.13 39 24" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M32 31H40" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M24 17H32" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M36 35L40 31L36 27" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M28 21L24 17L28 13" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M29 37H11V7H29" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        <path d="M35 11H53V41H35" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                        </svg>
                                button(type="button" onclick="openBlockInform()").page__toggle
                                    a#openBlockBtn.page__text-bold_middle_top(data-aos="fade-right" data-aos-duration="700" data-aos-delay="1600") Поддержка различных форматов обмена <br> информацией
                                .page__img
                                    img(src="assets/img/line-red.svg")
                                .page__button
                                .inform__li
                                    .page__text-medium Единое информационное пространство для проведения расчетов современного универсального баека и его филиалов
                            li#connect.block__li.connect(data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="800")
                                .polygon
                                    .polygon
                                        .polygon__item
                                            <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g filter="url(#filter0_d)">
                                            <path d="M52 25L47 20L33 34L25 26L20 31L33 44L52 25Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M35 57H37" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M35 7H37" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M10 32H12" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M60 32H62" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            <path d="M36 63C53.1208 63 67 49.1208 67 32C67 14.8792 53.1208 1 36 1C18.8792 1 5 14.8792 5 32C5 49.1208 18.8792 63 36 63Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            </g>
                                            <defs>
                                            <filter id="filter0_d" x="0" y="0" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                                            <feOffset dy="4"/>
                                            <feGaussianBlur stdDeviation="2"/>
                                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                                            </filter>
                                            </defs>
                                            </svg>
                                button(type="button" onclick="openBlockConnect()").page__toggle
                                    a#openBlockBtn.page__text-bold_middle_top(data-aos="fade-right" data-aos-duration="700" data-aos-delay="1000") Простое подключение новых платформ и расчетных систем
                                .connect__li.connect
                                    .page__text-medium Открытая архитектура
                                    .page__text-medium Готовый слой API для интеграции в существующую IT-инфраструктуру банка
                                .page__img
                                    img(src="assets/img/line-red.svg")