section#principles.principles
    .wrapper
        h3.page__title-h3 <span> АРХИТЕКТУРНЫЕ </span> ПРИНЦИПЫ
        .principles-block
            .principles-block-products
                .principles-block-products-title
                    .page__img
                        img(src="assets/img/princips-1.svg")
                    p.page__text_extra-middle В <span>разработке</span> программных продуктов
                .principles-block-products-spisok
                    ul
                        li Открытая, надежная, масштабируемая и событийно управляемая микросервисная архитектура
                        li Разработка приложений (PBC) и сервисов ведется один раз для всех каналов одной командой
                        li Компонуемая бизнес-архитектура на основе платформ развития бизнеса
                        li Технологические платформы и каналы не содержат продуктовой логики
                        li Стандартизированный технологический стек с ориентацией на ПО с открытым исходным кодом (open source) и на российские компоненты
            .principles-block-clients
                .principles-block-clients-title
                    .page__img
                        img(src="assets/img/princips-2.svg")
                    p.page__text_extra-middle Во <span> заимодействии </span> с клиентом
                .principles-block-clients-spisok
                    ul
                        li Омниканальная процессно-ориентированная среда взаимодействия с клиентом
                        li Единая логика представления пользовательских сценариев (UX) во всех каналах
                        li Компонуемые бизнес-решения на основе платформ развития бизнеса
                        li Надежная и удобная система идентификации клиента в каждом канале
                        li Роботизация и использование технологий искусственного интеллекта