section#products.products
    .wrapper
        h3.page__title-h3 <span>Продукты</span><br> и возможности
        .products-block
            .products-block-items
                .products-block-items-calculations
                    .bg
                        .page__img
                            img(src="assets/img/bg-products-item-1.svg")
                        p.page__text_extra-small Расчеты
                .products-block-items-calculations-centr
                        .page__img
                            img(src="assets/img/icon-item-2.svg")
                        p.page__text_extra-small Расчетный центр
                .products-block-items-coord
                        .page__img
                            img(src="assets/img/icon-item-3.svg")
                        p.page__text_extra-small СБП. Координатор
                .products-block-items-swift
                        .page__img
                            img(src="assets/img/icon-item-4.svg")
                        p.page__text_extra-small Расчеты через SWIFT
                .products-block-items-security
                        .page__img
                            img(src="assets/img/icon-item-5.svg")
                        p.page__text_extra-small Защита сообщений SWIFT
                .products-block-items-messages
                        .page__img
                            img(src="assets/img/icon-item-6.svg")
                        p.page__text_extra-small Защита электронных сообщений Банка России
            
