section#products.products
    .wrapper
        h3.page__title-h3 <span>Продукты</span><br> и возможности
        .products-block
            .products-block-items
                .products-block-items-calculations
                    .page__img
                        img(src="assets/img/estim-products.svg")
                    .polygon
                        .polygon__item
                            <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                    p.page__text_extra-small Расчеты
                .products-block-items-calculations
                    .page__img
                        img(src="assets/img/icon-item-2.svg")
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                    p.page__text_extra-small Расчетный центр
                .products-block-items-calculations
                    .page__img
                        img(src="assets/img/icon-item-3.svg")
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                    p.page__text_extra-small СБП. Координатор
                .products-block-items-calculations
                    .page__img
                        img(src="assets/img/icon-item-4.svg")
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                    p.page__text_extra-small Расчеты через SWIFT
                .products-block-items-calculations
                    .page__img
                        img(src="assets/img/icon-item-5.svg")
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                    p.page__text_extra-small Защита сообщений SWIFT
                .products-block-items-calculations
                    .page__img
                        img(src="assets/img/icon-item-6.svg")
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                    p.page__text_extra-small Защита электронных<br> сообщений Банка России
        .page__btn.open-modal(data-modal="demo") запросить демо
    .page__btn.mob запросить демо