section.products
    .wrapper
        h3.page__title-h3 <span>Продукты</span><br> и возможности
        .products-block
            .products-block-items
                .products-block-items-calculations
                    .bg
                        .page__img
                            img(src="assets/img/клиенты.png")
                        p.page__text_extra-small Расчеты
                .products-block-items-calculations-centr
                .products-block-items-coord
                .products-block-items-swift
                .products-block-items-security
                .products-block-items-messages
            
