section#products.products
    .wrapper
        h3.page__title-h3 <span>Продукты</span><br> и возможности
        .mob
            .mob-slider-news
                .page__img
                    img(src="assets/img/news-slider.svg")
                .page__img
                    img(src="assets/img/news-slider.svg")
                .page__img
                    img(src="assets/img/news-slider.svg")
        .news-block
        .products-block
            .products-block-items
                .products-block-items-calculations(data-aos="fade-right" data-aos-duration="500" data-aos-delay="600")
                    .page__bg
                        img(src="assets/img/bg-hover-item-1.jpg")
                    .page__img
                        img(src="assets/img/estim-products.svg")
                    .polygon
                        .polygon__item
                            <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                    p.page__text_extra-small Расчеты
                .products-block-items-calculations(data-aos="fade-right" data-aos-duration="500" data-aos-delay="800")
                    .page__bg
                        img(src="assets/img/bg-hover-item-2.jpg")
                    .page__img
                        img(src="assets/img/icon-item-2.svg")
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                    p.page__text_extra-small Расчетный центр
                .products-block-items-calculations(data-aos="fade-right" data-aos-duration="500" data-aos-delay="1000")
                    .page__bg
                        img(src="assets/img/bg-hover-item-3.jpg")
                    .page__img
                        img(src="assets/img/icon-item-3.svg")
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                    p.page__text_extra-small СБП. Координатор
                .products-block-items-calculations(data-aos="fade-right" data-aos-duration="500" data-aos-delay="1200")
                    .page__bg
                        img(src="assets/img/bg-hover-item-4.jpg")
                    .page__img
                        img(src="assets/img/icon-item-4.svg")
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                    p.page__text_extra-small Расчеты через SWIFT
                .products-block-items-calculations(data-aos="fade-right" data-aos-duration="500" data-aos-delay="1400")
                    .page__bg
                        img(src="assets/img/bg-hover-item-5.jpg")
                    .page__img
                        img(src="assets/img/icon-item-5.svg")
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                    p.page__text_extra-small Защита сообщений SWIFT
                .products-block-items-calculations(data-aos="fade-right" data-aos-duration="500" data-aos-delay="1600")
                    .page__bg
                        img(src="assets/img/bg-hover-item-6.jpg")
                    .page__img
                        img(src="assets/img/icon-item-6.svg")
                    .polygon
                        .polygon__item
                            <svg width="25" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.486084 10.0002H20.4254M20.4254 10.0002L11.6061 1.18091M20.4254 10.0002L11.6061 18.8195" stroke="white" stroke-width="2.30068"/>
                            </svg>
                    p.page__text_extra-small Защита электронных<br> сообщений Банка России
        .page__btn.open-modal(data-modal="demo" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1200") запросить демо
    .page__btn.mob запросить демо