section#safety.safety
    .wrapper
        h3.page__title-h3 <span> безопасность </span> расчетов
        p.page__text-medium Важная задача платформы развития бизнеса <span> Payments </span> – обеспечить безопасность расчетов. Для ее выполнения в рамках платформы реализовано несколько продуктов.
        .safety-block
            .safety-block-messages
                .bg_white
                    .safety-block-messages
                        .safety-block-messages-row
                            .page__img
                                img(src="assets/img/safety-1.svg")
                            p.page__text_extra-mid ЗАЩИТА ЭЛЕКТРОННЫХ СООБЩЕНИЙ (УФЭБС)
                        p.page__text-medium-small <span> Обеспечение информационной безопасности при передаче электронных сообщений в Банк России. Для выполнения проверки кодов аутентификации и защитных кодов, шифрования и дешифрования электронных сообщений в программном продукте применяется СКАД «Сигнатура»
                        p.page__text-bold Возможности продукта:
                        ul
                            li Загрузка электронных сообщений и пакетов электронных сообщений из АБС клиента
                            li Проверка контрольной суммы электронного сообщения, полученного из АБС клиента
                            li Установка защитных кодов и кодов аутентификации на электронные сообщения и пакеты электронных сообщений, полученные из АБС клиента
                            li Выгрузка и получение данных из Автоматизированного рабочего места клиента Банка России (новое) (АРМ КБР-Н)
                            li Проверка подписи, поставленной в АРМ КБР-Н
            .safety-block-swift
                .bg_grey
                    .safety-block-swift
                        .safety-block-swift-row
                            .page__img
                                img(src="assets/img/safety-2.svg")
                            p.page__text_extra-mid ЗАЩИТА СООБЩЕНИЙ (SWIFT LAU)
                        p.page__text-medium-small <span> Обеспечение передачи защитного ключа из АБС клиента в SWIFT-терминал в составе SWIFT-сообщения. Ключ формируется с использованием алгоритма хеширования HMAC-SHA256
                        p.page__text-bold Возможности продукта:
                        ul
                            li Подписание исходящих сообщений SWIFT с использованием алгоритма LAU перед их передачей в терминал SWIFT
                            li Проверка подписи с использованием алгоритма LAU для входящих сообщений SWIFT, приходящих из терминала SWIFT