section.transition
    .wrapper
        h3.page__title-h3 <span>ПЕРЕХОД</span> НА ISO 20022
        .transition-block
            .transition-block-iso
                .page__img
                    img(src="assets/img/iso.svg")
            .transition-block-record
                .background
                    p.page__text-medium-middle <span>«Диасофт»</span> ведет активную подготовку к глобальному переходу финансовых систем на новый стандарт <span>ISO 20022.</span> Идет процесс разработки механизмов формирования сообщений SWIFT в формате ISO 20022 с возможностью отправки в составе электронного сообщения ED506 в формате <span>УФЭБС.</span>
                .record-row
                    p.page__text-medium Узнайте о других планах по развитию платформы в 2021 году
                    .page__btn ЗАПИСЬ ВЕБИНАРА

