section.transition
    
    .wrapper
        h3.page__title-h3 <span>ПЕРЕХОД</span><br> НА ISO 20022
        .transition-block
            .transition-block-iso
                .page__img
                    img(src="assets/img/iso.svg")
            .transition-block-record
                .background
                    p.page__text-medium-middle <span>«Диасофт»</span> ведет активную подготовку к глобальному переходу финансовых систем на новый стандарт <span>ISO 20022.</span> Идет процесс разработки механизмов формирования сообщений SWIFT в формате ISO 20022 с возможностью отправки в составе электронного сообщения ED506 в формате <span>УФЭБС.</span>
                .record-row
                    p.page__text-medium Узнайте о других планах по развитию платформы в 2021 году
                    .page__btn ЗАПИСЬ ВЕБИНАРА
        .connection-block
            h3.page__title-h3 <span>обратная</span> связь
            p.page__text-bold-thirty Остались вопросы?
            p.page__text-medium Напишите нам, и мы обязательно вам ответим!
            .page__btn ОБРАТНАЯ СВЯЗЬ
        footer.footer
            .wrapper
                .footer-block
                    .footer-block-row
                        .copy
                            .page__img
                                img(src="assets/img/copy.svg")
                            p.page__text-medium-small 2021 Diasoft
                        .page__btn наверх
                        p.page__text-bold-thirty <span>+7 495</span> 780—7575
                    .footer-block-bottom
                        .sites
                            p.page__text-medium info<span>@</span>diasoft.ru
                            p.page__text-medium sales<span>@</span>diasoft.ru
                        .soc
                            a(href="#")
                               .page__img
                                    img(src="assets/img/facebook.svg") 
                            a.youtube(href="#")
                               .page__img
                                    img(src="assets/img/youtube.svg") 
                            a(href="#").telegram
                               .page__img
                                    img(src="assets/img/telegram.svg") 
                        



