extends templates/template

block title
	title Заголовок страницы
block append style
block content
	include modules/header-module
	include blocks/banner
	include blocks/heart
	include blocks/platform
	include blocks/architect
	include blocks/safety
	include blocks/advantages
	include blocks/principles
	include blocks/numbers
	include blocks/clients
	include blocks/news
	include blocks/transition
block append script